button {
  background-color: $color-button;
  color: $color-button-text;
  padding: 10px 0;
  font-size: 12.5px;
  border-radius: 5px;
  box-shadow: 0 1px $color-button-shadow;

  &:hover, &:active {
    transition: .09s all linear;
    text-shadow: 0 -1px $color-button-shadow;
  }

  &:active {
    box-shadow: none;
    background: royalblue;
    color: white;
  }
}
