button {
  background-color: $color-button;
  color: $color-button-text;
  padding: 10px 0;
  border-radius: 20px;
  box-shadow: 0 1px 1px $color-button-box-shadow;

  &:hover, &:active {
    text-shadow: 0 -1px $color-button-box-shadow-active;
  }

  &:active {
    box-shadow: 0 1px 1px $color-button-box-shadow-active inset;
    transition: .3s all linear;
    &::after {
      content: ' ...';
    }
  }
}
