$color-body: #f4f6f6;
$color-body-text: white;
$color-form: linear-gradient(226deg, rgb(0, 213, 231), rgb(66, 172, 180), rgb(0, 255, 208), rgb(0, 122, 255)) 0% 0% / 800% 800%;
$color-form-opt-button-box-shadow:rgba(0, 0, 0, .15);
$color-form-opt-button-text: white;
$color-form-opt-button-hover: rgba(255,255,255, .8);
$color-form-opt-button-active: rgba(0, 0, 0, .1);
$color-form-opt-button-text-active: white;
$color-form-error-text: white;
$color-button: rgba(0, 0, 0, .1);
$color-button-text: #fff;
$color-button-shadow: #1b83b5;
$color-button-box-shadow: rgba(0, 0, 0, .3);
$color-button-box-shadow-active: rgba(0, 0, 0, .1);
$color-input-text: white;
$color-input-background: rgba(0,0,0, .1);
$color-input-placeholder: rgba(255,255,255, .85);
$color-input-placeholder-focus: rgba(255,255,255, .45);
$color-input-focus: white;
$color-input-background-focus: rgba(0,0,0, .05);
