.form {
  margin-top: 10%;
  margin-top: 10vh;
  width: 90%;
  max-width: 600px;
  word-wrap: break-word;

  .error {
    color: $color-form-error-text;
    line-height: 16px;
    font-size: 16px;

    div {
      font-size: 12px;
      line-height: 24px;
    }

    i {
      float:left;
      padding: 0 4px;
      line-height: 24px;

      &:nth-child(odd) {
        float:right;
      }
    }
  }
  form {
    max-width: 300px;
    padding: 40px 7%;
    border-radius: 2px;
    background: $color-form;
    animation: bg 15s ease infinite;

    img {
      background: $color-body;
      padding: 15px;
      margin: 50px;
      border-radius: 0 0 50px 50px;
      margin-top: -42px;
      border-top: 80px solid $color-body;
      transition: .4s margin-top ease-in-out;
      &.success {
        margin-top: -150px;
      }
    }

  span {
    cursor: pointer;
    color: $color-form-opt-button-text;
    width: 70px;
    padding: 4px 2px;
    margin: 0;
    border-radius: 2px;
    box-shadow: 0 1px 1px $color-form-opt-button-box-shadow;

    &:hover:not(.active) {
      transition: .15s color linear;
      color: $color-form-opt-button-hover;
    }

    &.active {

      padding: 4.5px 2px;
      background: $color-form-opt-button-active;
      color: $color-form-opt-button-text-active;
      box-shadow: 0 1px 1px $color-form-opt-button-active inset;

      i {
        color: $color-form-opt-button-text;
      }
    }
  }
}
}
